%h1 {
  font-size: $fs-h1;
  font-weight: 500;
}

%default-text {
  font-family: "Stag", Arial;
  font-size: 17px;
  line-height: 25px;
  color: $color-text;
}

body {
  @extend %default-text;
  background-color: $color-concrete;

  strong {
    font-weight: 500;
  }
}
